# Ignore Python cache files and folders
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git files
.git/
.gitignore

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build output
build/
dist/

# Ignore node_modules (if any)
node_modules/

# Allow specific files needed for the Docker build
!services/email_service/requirements.txt
